{% extends 'Photo/base.html' %}

{% block content%}
<div class="title">
    <p>
        Ласкаво просимо до нашого сайту розпізнавання емоцій на фото онлайн!
        Ми пропонуємо інноваційний та потужний інструмент для розпізнавання емоцій людини на фото з
        використанням нейронних мереж. Наша технологія забезпечує швидкий та точний аналіз емоційних виразів обличчя,
        щоб допомогти вам краще зрозуміти своїх співрозмовників або клієнтів.
    </p>
</div>
<div class="button">
    {% if request.user.is_authenticated %}
        <a href="{% url 'photo_form' %}">Почати роботу</a>
    {% else %}
        <a href="{% url 'login' %}">Почати роботу</a>
    {% endif %}
</div>
{% endblock %}